.d-header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px -1px rgba(52, 52, 52, 0.25);
  .header-dropdown-toggle {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  .fa {
    color: #343434;
  }
  .logo-big {
    content: url('https://discuss.circleci.com/uploads/default/original/1X/6baad892872dca68a39f2458804d8085b2f4f502.png');
    margin-top: 10px;
    height: 20px;
  }
}