.list-container {
  .wrapper();
}

.topic-list {
  .btn {
    border: none;
    
    &:hover {
      &::before {
        display: none;
      }
    }
  }

  th {
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
    color: @normal-text-color;

    .bulk-select .fa {
      color: #ddd;
    }

    &.sortable:hover {
      background-color: #fbfbfb;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: @normal-text-color;
        opacity: 0.05;
        pointer-events: none;
      }
    }
  }

  td, th {
    padding-top: 20px;
    padding-bottom: 20px;

    &:first-of-type {
      padding-left: 0;
    }
  }

  a.title {
    font-size: 1.6rem;
    color: @normal-text-color;
  }

  .topic-statuses {
    position: relative;
    bottom: 2px;
    
    .topic-status {
      margin-right: 7px;
      
      i {
        font-size: 1.5rem;
        color: #ddd !important;

        &.fa-check-square-o {
          color: @green;
        }
      }
    }
  }

  .topic-excerpt {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #555;
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      
      &:first-of-type {
        border-top: 2px solid #ddd;
      }
    }
    
    .num {
      font-size: 1.6rem;
      color: @normal-text-color;

      a.badge-posts {
        font-weight: 300;
        color: @normal-text-color;
      }
    }

    .discourse-tag.simple {
      font-size: 1.2rem;
      color: #555;
    }
  }

  &.categories {
    td.category {
      padding: 15px;
      line-height: 1.5;
    }

    a.title {
      color: @active-text-color;
    }

    table.categoryStats td {
      padding: 4px;
    }
  }
}

.topic-list-bottom {
  margin-top: 40px;
  
  h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: @normal-text-color;
  }
}